<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../user-info/user-info.html" />
<link rel="import" href="../youtube-feed/youtube-feed.html" />

<polymer-element name="users-app" attributes="">
  <template>
    <link rel="stylesheet" href="users-app.css">
    <div horizontal layout>

      <div flex>

        <div class="user-display">
          <h1>{{ user.firstName }} {{ user.lastName }}</h1>
          <div>
            Enabled: {{ user.isActive }}
          </div>
        </div>

        <youtube-feed id="youtube"></youtube-feed>

      </div>
      <div class="users-information">
        <user-info id="userInfo" on-save="{{ onSaved }}"></user-info>
      </div>
    </div>
  </template>
  <script>
    (function () {
      Polymer({

//        user: {
//          firstName: 'Tyler',
//          lastName: 'Garlick',
//          isActive: true
//        },

        onSaved: function (e, user) {
          this.user = user;
        }

      });
    })();
  </script>
</polymer-element>
