<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/core-ajax/core-ajax.html" />
<link rel="import" href="../../../bower_components/paper-button/paper-button.html" />

<polymer-element name="youtube-feed" attributes="">
  <template>
    <link rel="stylesheet" href="youtube-feed.css">

    <core-ajax id="youtube" url="//gdata.youtube.com/feeds/api/videos/" params='{"alt":"json", "q":"chrome"}' handleAs="json" response="{{ resp }}"></core-ajax>

    <paper-button id="btn" on-tap="{{ tapped }}">Get Data</paper-button>

    <template repeat="{{ entry in resp.feed.entry }}">
      <div>{{ entry.title.$t }}</div>
    </template>

  </template>
  <script>
    (function () {
      Polymer({
        // define element prototype here
        ready: function () {
          var self = this;

          document.addEventListener('tap', function () {
            console.log('tapped');
          });

          //          this.$.btn.addEventListener('on-tap', function () {
          //            self.$.youtube.go();
          //          });

        },

        tapped: function () {
          this.$.youtube.go();
        }
      });
    })();
  </script>
</polymer-element>
