<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html" />
<link rel="import" href="../../../bower_components/paper-shadow/paper-shadow.html" />
<link rel="import" href="../../../bower_components/paper-toggle-button/paper-toggle-button.html" />
<link rel="import" href="../../../bower_components/paper-button/paper-button.html" />

<polymer-element name="user-info" attributes="">
  <template>
    <style>
      :host {
        display: block;
      }

      paper-shadow {
        padding: 25px;
      }
    </style>
    <paper-shadow z="2">
      <div layout vertical>

        <paper-input id="firstName" label="First Name" value="{{ userInfo.firstName }}"></paper-input>
        <paper-input id="lastName" label="Last Name" value="{{ userInfo.lastName }}"></paper-input>
        <paper-toggle-button id="isActive" checked="{{ userInfo.isActive }}"></paper-toggle-button>
        <paper-button id="save" on-tap="{{ onTapped }}">Save</paper-button>
      </div>
    </paper-shadow>

  </template>
  <script>
    (function () {
      Polymer({

        userInfo: {
          isActive: true
        },
        // user
        // define element prototype here
        onTapped: function () {
          this.fire('save', this.userInfo);
          console.log(this.userInfo);
        }

      });
    })();
  </script>
</polymer-element>
