
<link rel="import" href="../../../bower_components/polymer/polymer.html" />
<link rel="import" href="../../../bower_components/font-roboto/roboto.html" />
<link rel="import" href="../../../bower_components/paper-input/paper-input.html" />

<polymer-element name="hello-tag" attributes="name">
  <template>
    <link rel="stylesheet" href="hello-tag.css" />
    <div class="hello-input" layout vertical center>
      <paper-input autocomplete="off" id="name" value="{{ name }}" on-change="{{ onNameChanged }}"></paper-input>
    </div>
    <audio id="audio" on-canplay="{{ onCanPlay }}"></audio>
  </template>

  <script>
    (function () {
      Polymer({

        onNameChanged: function () {
          this.$.audio.src =
              "https://api.voicerss.org/?key=621f5ef8240f4a228038b3d3cc3f73ed&src=Hello! My name is " + this.$.name.committedValue + "&hl=en-us";
        },

        onCanPlay: function () {
          if (this.name.length > 0) {
            this.$.audio.play();
          }
        }
      });
    })();
  </script>

</polymer-element>
