:host {
  display: block;
  width: 830px;
  height: 470px;
  background: url('../../images/hello-my-name-is.svg') no-repeat center center;
}

.hello-input {
  margin-top: 115px;
}

paper-input {
  font-family: 'Roboto 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 48pt;
  font-weight: bold;
  padding: 5px;

  /deep/ input {
    text-align: center;
  }
}
